.MuiExpansionPanelDetails-root {
    display: block !important;
    padding: 0 !important;
}

.MuiExpansionPanelDetails-root .MuiPaper-root {
    box-shadow: none !important;
}

.MuiExpansionPanelSummary-root {
    background-color: #747070 !important;
}

.not-expandable button {
    visibility: hidden;
}